.bottom{
  display: flex;
  width: 90%;
  margin: 1rem auto;
  justify-content: space-between;
}
.headerButton{
  background-color: black;
  color: white;
  width: 60%;
  border: none;
  border-radius: 100px;
  font-size: 1rem;
}
.headerButton:hover{
  background-color: #755CDE;
  cursor: pointer;
  
}

@media screen and (min-width: 768px){
  .logo{
    width: 64px;
    height: 64px;
  }
  .headerButton{
    width: 40%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 910px){
  .headerButton{
    width: 20%;
    font-size: 1rem;
    height: 50px;
  }
}
@media screen and (min-width: 1024px){
  .bottom{
    width: 70%;
  }
  
  .headerButton{
    width: 30%;
  }
}

@media screen and (min-width: 1440px){
  .bottom{
    width: 60%;
  }
  .headerButton{
    width: 30%;
    font-size: 1.5rem;
  }
}