.footer{
  width: 95vw;
  margin: 5rem auto;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #030303;
  height: auto;
  align-items: center;
}

.h1, .p{
  color: #FFF7F0;
}

.h1{
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem ;
}
.p{
  width: 80vw;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}
.button{
  background-color: #EB7565;
  color:#FFF7F0;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 100px;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}
.button:hover{
  background-color: #F6A560;
  cursor: pointer;
  
}
@media screen and (min-width: 768px){
  .footer{
    width: 90vw;
  }
  
  .button{
    width: 40%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 910px){
  .footer{
    width: 70vw;
  }
  .button{
    width: 20%;
    font-size: 1rem;
    height: 50px;
  }
}
@media screen and (min-width: 1024px){
  .p{
    width: 50vw;
  }
  .button{
    width: 30%;
  }
}

@media screen and (min-width: 1440px){
  .footer{
    width: 60vw;
  }
  .button{
    width: 30%;
    font-size: 1.5rem;
  }
  .p{
    width: 70%;
  }
}